.buttons {
  .checked {
    font-size: 30px;
    color: #ffffff;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    vertical-align: text-bottom;
  }
}

.todolist {
  ul {
    padding: 0;
    margin-top: 50px;
  }

  .completed:before {
    content: "✓";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }
  li {
    font-size: 16px;
    color: #e8e8e8;
    list-style: none;
    line-height: 50px;
    border-top: 1px solid #e8e8e8;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .player {
      width: 26px;
      height: 26px;
      border: 1px solid #e8e8e8;
      border-radius: 50%;
      text-align: center;
      line-height: 1;
      &::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        width: 50%;
        vertical-align: middle;
      }
    }
    span {
      vertical-align: middle;
    }
    &:last-child {
      border-bottom: 1px solid #e8e8e8;
    }

    // div {
    //   img {
    //     vertical-align: middle;
    //   }
    // }
  }
}
