@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans+TC&display=swap" rel="stylesheet');

.app {
  text-align: center;
  display: flex;
  font-family: monospace, 'Noto Sans TC';
}
